/* CSS Document */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4vh;
    .bg-white;
    box-shadow: none;
    border-top:1px solid @grey-6;
    z-index: 500;
    font-size:1.2rem;
    /*--- LOCATIONS AND COPYRIGHT ---*/
    .copyright {
        position:absolute;
        top:50%;
        left:4vh;
        transform:translate(0,-50%);
        color: @grey-3;
        a {color: @grey-3;}
    }
    .credits {
        position:absolute;
        top:50%;
        right: 6.75vh;
        .translate(0,-50%);
        color: @grey-3;
    }
    svg {
        height: 2.5vh;
        position:absolute;
        top:50%;
        .translate(0,-50%);
        right:4vh;
        * {
            fill: #ff9200;
        }
    }
}

