/* CSS Document */
main {
    position: relative;
    padding: 9.25vh 0 8.25vh 17.917vw;
    width: 100%;
    .bg-white;
    overflow: auto;
    z-index: 300;
    article {
        max-width: 1600px;
        margin: 0;
        .clearfix;
        + article {
            margin: (@gutter * 4) 0 0;
            padding: (@gutter * 4) 0 0;
            border-top: 1px solid @grey-6;
        }
    }
    aside {
        float: left;
        width: 25%;
        padding: 0 (@gutter * 2) 0 0;
    }
    section {
        float: right;
        width: 75%;
        padding: 0 0 0 (@gutter * 2);
    }
}
