/* CSS Document */
.nav-main {
    position: fixed;
    top: 8vh;
    left: 0;
    width: 16.667vw;
    height: 85vh;
    .bg-white;
    border-right: 1px solid @grey-6;
    .txt-grey-5;
    z-index: 400;
    > ul {
        > li {
            border-bottom: 1px solid @grey-6;
            > a {
                display: block;
                font-size:1.4rem;
                color: @grey-3;
                padding: 1.5vh 4vh;
            }
            &.active {
                > a {
                    color:@tertiary;
                }
            }
            > ul {
                display: none;
                margin: 0;
                padding: 0;
                > li {
                    + li {
                    }
                    > a {
                        display: block;
                        color: @grey-3;
                        font-size: 1.2rem;
                        padding: .75vh 4vh .75vh 6vh;
                    }
                    &.active {
                        color: @tertiary;
                    }
                }
            }
            &.active {
                > ul {
                    display: block;
                }
            }
        }
    }
}
