/* CSS Document */
.nav-main {
    position: fixed;
    top: 8vh;
    left: 0;
    width: 16.667vw;
    height: 85vh;
    .bg-white;
    border-right: 1px solid @grey-6;
    .txt-grey-5;
    z-index: 400;
    > ul {
        > li {
            border-bottom: 1px solid @grey-6;
            > a {
                font-size:1.4rem;
                color: @grey-3;
                &:active {color:@tertiary;}
                padding: 2.5vh 4vh;
            }
            > ul {
                > li {
                    > a {
                    }
                }
            }
        }
    }
}
