/* CSS Document */
body {
    font-size: 62.5%;
}
main {
    h1, h2, h3, h4, h5, li, p, blockquote, div, td, th, article, section, figure {
        .txt-grey-3;
        line-height: 1.5em;
    }
    h1 {
        font-size: 3.2rem;
        .fw-bold;
    }
    h2 {
        font-size: 2.8rem;
        .fw-bold;
    }
    h3 {
        font-size: 2.4rem;
        .fw-bold;
    }
    h4 {
        font-size: 2rem;
        .fw-medi;
    }
    h5 {
        font-size: 1.8rem;
        .fw-medi;
    }
    h6 {
        font-size: 1.6rem;
        .fw-medi;
    }
    p, li, div, td, th, blockquote, article, section, figure {
        font-size: 1.4rem;
    }
}