/* CSS Document */
.sg-content {
    + .sg-content {
        border-top: 1px solid @grey-1;
        padding: (@gutter * 2) 0 0;
        margin: (@gutter * 2) 0 0;
    }
    + h2 {
        &.sg {
            border-top: 1px solid @grey-1;
            padding-top: (@gutter * 3);
            margin-top: (@gutter * 3);
        }
    }
    table.sg {
        margin-top: (@gutter * 2);
    }
}
